<?xml version="1.0" encoding="utf-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
     xmlns:jaxws="http://cxf.apache.org/jaxws"  
     xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans.xsd      
						http://cxf.apache.org/jaxws 
						http://cxf.apache.org/schemas/jaxws.xsd">   
						       
  <import resource="classpath:META-INF/cxf/cxf.xml" />  
  <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />  
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
  
  <bean id="helloworldxxWebService"  class="com.cnblog.yc610039525.ws.HelloWorldImpl">  
  </bean>  
  
  
  <bean id="inMessageInterceptor" 
  class="org.apache.cxf.interceptor.LoggingInInterceptor" />  
  <bean id="outMessageInterceptor" 
  class="org.apache.cxf.interceptor.LoggingOutInterceptor"/> 
   
  <bean id="helloInInterceptor" 
  class="com.cnblog.yc610039525.ws.server.interceptor.HelloInInterceptor"/>
    
  <jaxws:endpoint id="helloworld" 
  implementor="#helloworldxxWebService" 
  address="/helloWorld" > 
  <jaxws:inInterceptors>
   <ref bean="inMessageInterceptor"/>
   <ref bean="helloInInterceptor"/>
  </jaxws:inInterceptors> 
   
  <jaxws:outInterceptors>
  <ref bean="outMessageInterceptor"/>
  </jaxws:outInterceptors>
  </jaxws:endpoint> 

  <bean id="weatherProxyFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
  	<property name="serviceClass" value="com._36wu.WeatherServiceSoap"></property>
  	<property name="address" value="http://web.36wu.com/WeatherService.asmx?WSDL"></property>
 
 
  </bean>
  <bean id="weatherServiceSoap" class="com._36wu.WeatherServiceSoap" 
	  factory-bean="weatherProxyFactory" 
	  factory-method="create">
  </bean>
  
	  
  </beans>  
  